$var-bor:solid black;
body
{
    padding-top: 17%;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
    background:url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?size=626&ext=jpg&ga=GA1.1.1553840038.1727516726&semt=ais_hybrid') no-repeat center center/cover;

}
.f1{
   border:$var-bor;
   height: 270px;
   border-radius: 25px ;
   background-color:transparent;
   color: #0f8ec9;
}
.box
{
    border-radius: 10px; height: 35px;
    background-color: transparent;
    color: white;
    font-size: medium;
}
.b{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: medium;
}
